* {
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 2px;
}
html {
  font-size: 15px;
}
body {
  background-color: #e0e0e0;
}
header {
  position: initial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-left: 0;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px;
}
h1 {
  justify-content: center;
  display: flex;
  font-size: 2rem;
}
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: fit-content;
  overflow: anywhere;
  justify-content: center;
  font-size: 1rem;
}
.card {
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
  padding: 0 20px;
  width: 40%;
  flex-direction: column;
  display: flex;
  object-fit: cover;
  background-color: #ff8c00;
}
@media screen and (max-width: 800px) {
  .card-section {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
