* {
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 2px;
}
body {
  background-color: #e0e0e0;
}
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.card {
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
}
.card h1 p {
  padding: 200px;
  justify-content: center;
}
